.tituloSecao {
    display: flex;
}
.titulo {
    background-color: #fff;
    display: flex;
    color: #e53875;
    width: 500px;
    height: 50px;
    justify-content: space-around;
}
.titulo h1 {
    font-size: 40px;
}
.data {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo p {
    font-size: 20px;
}